@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(32, 50, 131);
}

input {
  margin: 2px;
  border: none;
  border-radius: 3px;
}

input[type=text] {
  width: calc(100% - 4px);
  height: 40px;
}

input[type=button] {
  width: 100px;
  height: 50px;
  transition: ease 0.2s;
  cursor: pointer;
}

div#calculator {
  box-shadow: 0 0 20px black ;
}

div#calculator div {
  display: flex;
}

div#calculator div input:nth-child(4) {
  background: rgb(182, 180, 180);
}

div#quarta input:nth-child(1){
  background: #f11a1a;
}

div#quarta input:nth-child(1), div#calculator {
  border-bottom-left-radius: 35px;
}

div#quarta input:nth-child(3){
  background: #1a4cf1;
}

div#quarta input:nth-child(4), div#calculator{
  border-bottom-right-radius: 35px;
}

input[type=button]:hover {
  filter: brightness(50%);
}

input[type=button]:active {
  transform: scale(0.9);
}

